@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html, body{
    margin: 0;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
}
h1,h2,h3,h4,h5,p,span{
    margin: 0;
    padding: 0;
}
.scoresTable{
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px 30px;
    background: rgba(0,0,0,0.5);
    width: fit-content;

    &__info{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-bottom: 20px;
        border-bottom: 2px dotted #fff;
        margin-bottom: 20px;
        h3{
            font-size: 30px;
        }
        p{
            font-size: 20px;
        }
    }
    &__playerScore{
        font-size: 40px;
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 15px;
    }
    &__playerLife{
        font-size: 40px;
        display: flex;
        align-items: center;
        gap: 15px;
        span{
            display: block;
            width: fit-content;
            height: fit-content;
            svg{
                width: 40px;
                height: auto;
                path{
                    fill: transparent;
                    stroke: #fff;
                }
            }
        }
    }
}

.gameOver {
    display: none; 

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999; 

    flex-direction: column;
    gap: 15px;
    text-shadow: 6px 6px black;

    color: white;
    text-align: center;
    font-size: 48px;

    h3{
        font-size: 60px;
    }
    h2{
        font-size: 100px;
    }

}
.author{
    position: fixed;
    bottom: 2px;
    right: 10px;
}